/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

/* STYLES */
/*HEADER*/
body{
    font-family: Roboto, sans-serif;
    color: #FFF;
}

.flex{
    display: flex;
    flex-direction: row;
}

header{
    position: fixed;
    width: 100%;
    z-index: 2;
}

.bg-orange{
    background-color: rgb(255, 105, 0);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px 0px;
}

.container{
    margin: 0 auto;
    max-width: 80%;
}

ul{
    list-style-type: none;
}

li{
    padding: 1rem;
    color: #FFF;
}

header li:hover{
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px 0px;
}

.icon img:hover{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.toolbar-navigation,
.toolbar-buttons{
    flex-basis: 25%;
}

.toolbar-center{
    flex-basis: 50%;
    text-align: center;
}

.toolbar-buttons{
    text-align: right;
}

.logo{
    height: 30px;
}

header div.flex{
    align-items: center;
}

/*MAIN*/
main{
    padding-top: 5rem;
    color: black;
}

.visible{
    display: block;
}

.invisible{
    display: none;
}

/*PRODUCT*/
div.row{
    justify-content: space-between;
}

div.product{
    position: relative;
    width: calc((100% / 3) - 50px);
    text-align: center;
    margin-bottom: 2rem;
}

div.product div.picture{
    position:relative;
}

.picture:hover img.visible{
    display: none;
}

.picture:hover img.invisible{
    display: block;
}

div.product img{
    width: 100%;
}

div.product span.fav{
    position: absolute;
    top: 10px;
    right: 0;
    width: 33px;
    height: 33px;
    background-color: #FFF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

div.product span.fav:hover{
    background-color: red;
}

div.product div.indicators{
    position: absolute;
    bottom: 50px;
    left:0;
    color: #FFF;
    font-size: small;
}

div.product span.discount{
    background-color: red;
    padding: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

div.product span.sustainable{
    background-color: green;
    padding: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

div.description{
    text-align: left;
}

.brand{
    font-size: smaller;
}

.item-name{
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
}

.sale{
    color: red;
    font-size:medium;
    font-weight: 700;
}

.fullprice{
    font-size: small;
    text-decoration: line-through;
    color:gray
}

/*FOOTER*/
footer{
    padding: 2rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.bg-dark-grey{
    background-color: #1a1a1a;
}

.sm-links{
    text-align: center;
    font-size: small;
    padding: 0 1rem;;
}

.footer-left{
    flex-basis: 70%;
}

.footer-right{
    flex-basis: 30%;
    justify-content: end;
}

.social-media i{
    justify-content: space-between;
}

footer li{
    font-size: smaller;
    padding: 1rem 0;
    margin-right: 3rem;;
}

